main {
  margin-top: 3rem;
  position: relative;
  .instructions {
    transition: 0.5s ease-in-out;
    .container {
      width: 1200px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        text-align: center;
        font-size: 4rem;
        @media (max-width: 420px) {
          font-size: 3rem;
        }
      }
      ol {
        width: 500px;
        max-width: 95%;
        margin: 2rem auto;
        transform: translateX(1rem);
        li {
          padding: 0.2rem 0;
          font-weight: 500;
          font-size: 1.3rem;
        }
      }
      button {
        font-size: 2rem;
        font-weight: 700;
        display: block;
        padding: 0.5rem 1.5rem;
        border-radius: 10px;
        background: #e90152;
        border: 3px solid #e90152;
        color: white;
        transition: 0.2s ease-in-out;
        &:hover {
          color: #e90152;
          background: white;
        }
      }
    }
  }
  .gameboard {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: 0.5s ease-in-out 0.5s;
    width: 1200px;
    max-width: 95%;

    .score {
      width: 100%;
      position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      h2 {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
      }
    }
    .container {
      width: 1200px;
      max-width: 95%;
      margin: 10rem auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      grid-gap: 1rem;

      @media (max-width: 1100px) {
        max-width: 700px;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
      }

      @media (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
        width: 300px;
      }
      .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-radius: 10px;
        &:hover {
          background: #c27ac9;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.none {
  display: none;
}
